// color
$mkColorPrimary: #1b80e3;
$mkColorWarn: #FFae00;

// background
$mkBgColorDefault: #f0f1f4;
$mkBgColorCommon: #FFFFFF;


// text
$mkTextColorTitle: #494B4C;
$mkTextColorSubTitle: #939699;
//$mkTextColorTips: #999999;
//$mkTextColorCommon: #B2B2B2;
$mkTextColorWarn: $mkColorWarn;
//$mkTextColorInfo: #1ECCA5;

//line 分割线
$mkLineColor:#d3d7db;

//border
$mkMineBorder:#fb9a9a;
