@charset "UTF-8";
/* ====================header start===================== */
body {
  background-color: #f0f1f4; }

.mk-header-content {
  width: 1202px;
  margin: auto;
  overflow: hidden; }

.mk-header-top {
  background-color: #f7f8f9;
  height: 34px;
  line-height: 34px;
  font-size: 13px; }
  .mk-header-top .mk-header-top-left {
    float: left; }
  .mk-header-top .mk-header-top-right {
    float: right; }
  .mk-header-top .mk-header-list {
    float: left;
    margin-right: 20px; }
    .mk-header-top .mk-header-list a {
      color: #6c6e70; }
    .mk-header-top .mk-header-list a:hover {
      color: #494b4c; }

.mk-header-main {
  font-size: 16px;
  color: #494b4c;
  height: 90px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08); }
  .mk-header-main .mk-header-logo {
    height: 90px;
    float: left; }
    .mk-header-main .mk-header-logo .mk-header-title {
      font-size: 28px; }
  .mk-header-main .mk-header-main-right {
    float: right;
    line-height: 90px; }
  .mk-header-main .mk-main-list {
    height: 90px;
    float: left; }
    .mk-header-main .mk-main-list a {
      color: #494B4C; }
    .mk-header-main .mk-main-list a:hover {
      color: #1b80e3; }
  .mk-header-main .active a {
    color: #1b80e3; }
  .mk-header-main .mk-main-list + .mk-main-list {
    margin-left: 30px; }
  .mk-header-main .search-region {
    border-radius: 4px;
    overflow: hidden;
    height: 36px;
    border: 1px solid #d3d7db;
    background-color: #fff; }
    .mk-header-main .search-region select {
      border: 0;
      outline: none;
      box-shadow: none; }
      .mk-header-main .search-region select option:hover {
        background: #f7f8f9; }
    .mk-header-main .search-region input {
      border: 0;
      outline: none;
      padding-left: 10px; }
    .mk-header-main .search-region input::placeholder {
      font-size: 14px; }
    .mk-header-main .search-region .search-input {
      position: relative; }
    .mk-header-main .search-region .search-input:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 18px;
      width: 1px;
      margin: auto;
      background-color: #d3d7db; }
    .mk-header-main .search-region button {
      background-color: #1b80e3;
      color: #fff;
      height: 36px;
      border-radius: 0 4px 4px 0;
      margin-bottom: 6px;
      outline: none; }

/* ====================header end===================== */
/* ====================footer start===================== */
.mk-footer-box {
  margin: 80px 0 36px;
  min-width: 1202px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .mk-footer-box .mk-footer-sign {
    display: flex; }
    .mk-footer-box .mk-footer-sign .mk-footer-sign-list {
      padding: 0 20px;
      position: relative;
      color: #939699; }
      .mk-footer-box .mk-footer-sign .mk-footer-sign-list a {
        color: #939699; }
    .mk-footer-box .mk-footer-sign .mk-footer-sign-list + .mk-footer-sign-list::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 12px;
      margin: auto;
      width: 1px;
      background-color: #d3d7db; }
  .mk-footer-box .mk-footer-copy {
    text-align: center;
    margin-top: 9px;
    color: #939699; }
  .mk-footer-box .mk-footer-logo {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center; }

/* ====================footer end===================== */
/* ====================nav start===================== */
.mk-nav-box {
  margin-top: 20px; }
  .mk-nav-box .mk-nav-content {
    border-radius: 6px;
    background-color: #303943;
    width: 1202px;
    height: 150px;
    margin: 0 auto; }
    .mk-nav-box .mk-nav-content .mk-nav-item {
      width: 200px;
      height: 150px;
      padding-left: 20px;
      float: left;
      position: relative; }
      .mk-nav-box .mk-nav-content .mk-nav-item .mk-nav-title {
        font-size: 15px;
        color: #fff;
        margin: 20px 0 5px;
        font-weight: bold; }
        .mk-nav-box .mk-nav-content .mk-nav-item .mk-nav-title a {
          color: #fff; }
      .mk-nav-box .mk-nav-content .mk-nav-item .mk-nav-list {
        margin-top: 10px;
        width: 75px;
        overflow: hidden;
        color: #fff;
        margin-right: 15px;
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle; }
        .mk-nav-box .mk-nav-content .mk-nav-item .mk-nav-list a {
          color: rgba(255, 255, 255, 0.6); }
      .mk-nav-box .mk-nav-content .mk-nav-item .nav-hide {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        min-height: 150px;
        width: 200px;
        padding-left: 20px;
        border-radius: 4px;
        padding-bottom: 20px;
        display: none;
        z-index: 10; }
        .mk-nav-box .mk-nav-content .mk-nav-item .nav-hide .n-item {
          overflow: hidden; }
        .mk-nav-box .mk-nav-content .mk-nav-item .nav-hide .mk-nav-title a {
          color: #494B4C; }
        .mk-nav-box .mk-nav-content .mk-nav-item .nav-hide .mk-nav-list a {
          color: #939699; }
    .mk-nav-box .mk-nav-content .mk-nav-item:hover .nav-hide {
      display: block; }
    .mk-nav-box .mk-nav-content .mk-nav-item + .mk-nav-item::after {
      content: '';
      height: 90px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto; }

/* ====================nav end===================== */
/*===================面包屑 crumb-nav start===========================*/
.crumb-nav {
  width: 1202px;
  margin: auto;
  display: flex;
  padding: 20px 0; }
  .crumb-nav .crumb-list {
    position: relative; }
    .crumb-nav .crumb-list a {
      color: #494B4C;
      font-size: 14px; }
  .crumb-nav .crumb-list + .crumb-list {
    margin-left: 40px; }
  .crumb-nav .crumb-list + .crumb-list:after {
    content: '';
    position: absolute;
    height: 13px;
    width: 1px;
    background-color: #494B4C;
    left: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(30deg); }
  .crumb-nav .crumb-list:last-child a {
    color: #939699; }

/*===================crumb-nav  end=============================*/
/*===================pagination start===========================*/
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  align-items: center; }
  .pagination a, .pagination span.active {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: #d8d9dd;
    border-radius: 50%;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
    color: #fff; }
  .pagination span.active {
    background-color: #1b80e3;
    color: #fff;
    font-weight: bold; }
  .pagination span {
    margin: 0 20px; }
  .pagination span.active {
    margin: 0 10px; }
  .pagination a + a {
    margin-left: 10px; }
  .pagination .jump-ipt {
    width: 60px;
    height: 36px;
    border-radius: 4px;
    line-height: 36px;
    background-color: #d8d9dd;
    color: #494B4C;
    outline: none;
    border: 0;
    text-align: center;
    font-size: 16px; }
  .pagination .jump-btn {
    width: 60px;
    height: 36px;
    border-radius: 4px;
    line-height: 36px;
    background-color: #1b80e3;
    color: #ffffff;
    margin-left: 10px; }

/*===================pagination end===========================*/

/*# sourceMappingURL=fn.css.map */
