@import "color";
@import "font";
/* ====================header start===================== */
body {
  background-color: $mkBgColorDefault;
}
.mk-header-content {
  width: 1202px;
  margin:auto;
  overflow: hidden;
}
.mk-header-top {
  background-color:#f7f8f9;
  height: 34px;
  line-height: 34px;
  font-size: $fontSizeMinText;
  .mk-header-top-left {
    float:left;
  }
  .mk-header-top-right {
    float:right;
  }
  .mk-header-list {
    float:left;
    margin-right:20px;
    a {
      color:#6c6e70;
    }
    a:hover {
      color:#494b4c;
    }
  }
}
.mk-header-main {
  font-size: $fontSizeTitle;
  color:#494b4c;
  height: 90px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
  .mk-header-logo {
    height: 90px;
    float:left  ;
    .mk-header-title {
      font-size: 28px;
    }
  }
  .mk-header-main-right {
    float:right;
    line-height:90px;
  }
  .mk-main-list {
    height: 90px;
     float: left;
     a {
       color:$mkTextColorTitle;
     }
      a:hover {
        color:$mkColorPrimary;
      }
  }
  .active a{
    color:$mkColorPrimary;
  }
  .mk-main-list+.mk-main-list {
    margin-left: 30px;
  }
  .search-region {
    border-radius:4px;
    overflow: hidden;
    height: 36px;
    border:1px solid #d3d7db;
    background-color: #fff;
    select {
      border: 0;
      outline: none;
      box-shadow: none;
      option:hover{
        background: #f7f8f9;
      }
    }
    input {
      border: 0;
      outline: none;
      padding-left: 10px;
    }
    input::placeholder {
      font-size: $fontSizeText;
    }

    .search-input {
      position: relative;
    }
    .search-input:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 18px;
      width: 1px;
      margin: auto;
      background-color: #d3d7db;
    }
    button {
      background-color: $mkColorPrimary;
      color:#fff;
      height: 36px;
      border-radius: 0 4px 4px 0;
      outline: none;
    }
  }
}
/* ====================header end===================== */


/* ====================footer start===================== */
.mk-footer-box {
  margin: 80px 0 36px;
  min-width: 1202px;
  display: flex;
  align-items: center;
  justify-content: center;
  .mk-footer-sign {
    display: flex;
    .mk-footer-sign-list {
      padding: 0 20px;
      position: relative;
      color:$mkTextColorSubTitle;
      a {
        color:$mkTextColorSubTitle;
      }
    }
    .mk-footer-sign-list + .mk-footer-sign-list::after{
      content: '';
      position: absolute;
      left:0;
      top:0;
      bottom: 0;
      height: 12px;
      margin: auto;
      width: 1px;
      background-color: $mkLineColor;
    }
  }
  .mk-footer-copy {
    text-align: center;
    margin-top: 9px;
    color:$mkTextColorSubTitle;
  }
  .mk-footer-logo {
    margin-top:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mk-footer-logo-img {

    }
  }
}
/* ====================footer end===================== */


/* ====================nav start===================== */
.mk-nav-box {
  margin-top: 20px;
  .mk-nav-content {
    border-radius: 6px;
    background-color: #303943;
    width: 1202px;
    height: 150px;
    margin: 0 auto;
    .mk-nav-item {
      width: 200px;
      height: 150px;
      padding-left:20px;
      //overflow: hidden;
      float: left;
      position: relative;
      .mk-nav-title {
        font-size:15px;
        color:#fff;
        margin:20px 0 5px;
        font-weight: bold;
        a {
          color:#fff;
        }
      }
      .mk-nav-list {
        margin-top: 10px;
        width: 75px;
        overflow: hidden;
        color:#fff;
        margin-right: 15px;
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
        a {
          color:rgba(255,255,255,0.6);
        }
      }
      .nav-hide {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        min-height: 150px;
        width: 200px;
        padding-left:20px;
        border-radius: 4px;
        padding-bottom: 20px;
        display: none;
        z-index: 10;
        .n-item {
          overflow: hidden;
        }
        .mk-nav-title a{
          color: $mkTextColorTitle;
        }
        .mk-nav-list a{
          color:$mkTextColorSubTitle;
        }
      }
    }
    .mk-nav-item:hover .nav-hide {
      display: block;
    }
    .mk-nav-item +.mk-nav-item::after {
      content: '';
      height: 90px;
      width: 1px;
      background-color: rgba(255,255,255,0.2);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
/* ====================nav end===================== */


/*===================面包屑 crumb-nav start===========================*/
.crumb-nav {
  width: 1202px;
  margin:auto;
  display: flex;
  padding: 20px 0;
  .crumb-list {
    position: relative;
    a {
      color: $mkTextColorTitle;
      font-size: $fontSizeText;
    }
  }
  .crumb-list+ .crumb-list {
    margin-left: 40px;
  }
  .crumb-list+ .crumb-list:after {
    content: '';
    position: absolute;
    height: 13px;
    width: 1px;
    background-color: $mkTextColorTitle;
    left: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(30deg);
  }
  .crumb-list:last-child a{
    color:$mkTextColorSubTitle;
  }
}
/*===================crumb-nav  end=============================*/

/*===================pagination start===========================*/
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  align-items: center;
  a,span.active{
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: #d8d9dd;
    border-radius:50%;
    line-height: 44px;
    text-align: center;
    font-size:$fontSizeTitle;
    color: #fff;
  }
  span.active {
    background-color: $mkColorPrimary;
    color: #fff;
    font-weight: bold;
  }
  span {
    margin: 0 20px;
  }
  span.active {
    margin: 0 10px;
  }
  a+a {
    margin-left: 10px;
  }
  .jump-ipt {
    width: 60px;
    height: 36px;
    border-radius:4px;
    line-height: 36px;
    background-color: #d8d9dd;
    color: $mkTextColorTitle;
    outline: none;
    border:0;
    text-align: center;
    font-size: $fontSizeTitle;
  }
  .jump-btn {
    width: 60px;
    height: 36px;
    border-radius:4px;
    line-height: 36px;
    background-color: $mkColorPrimary;
    color: #ffffff;
    margin-left: 10px;
  }
}
/*===================pagination end===========================*/

